/* Example fixes. Make sure the font is available (see notes below). */
body {
  background: linear-gradient(to right, blue, aliceblue);
  font-family: "Coral Pixels", serif;
}

h1 {
  font-family:"Coral Pixels", serif:
  text-align: center;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

