body{
  background: linear gradient(to right, blue, aliceblue)
  font-family: Coral Pixels
}
h1{
  text-position: center
}
.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

